# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

!.idea/scopes/
!.idea/icon.png

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
logs/

# github

.env

# cubiomes
src/main/resources/cubiomes.dll
src/main/resources/libcubiomes.dylib
src/main/resources/libcubiomes.so

src/main/java/com/github/cubiomes/*
!src/main/java/com/github/cubiomes/.gitkeep

dump_includes.txt
