[submodule "src/main/c"]
	path = src/main/c
	url = https://github.com/xpple/cubiomes
	branch = ore-vein-generation
[submodule "jextract"]
	path = jextract
	url = https://github.com/xpple/jextract
	branch = fix-platform-dependent-types
