[submodule "src/main/c/cubiomes"]
	path = src/main/c/cubiomes
	url = https://github.com/xpple/cubiomes
[submodule "jextract"]
	path = jextract
	url = https://github.com/xpple/jextract
	branch = fix-platform-dependent-types
